
.projects__grid_other{
  grid-template-columns: repeat(1, minmax(18em, 1fr));
}
.project__container-title_other{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.project__container-title_other a{
  align-self: center;
}
