.contact {
  flex-direction: column;
}
.contact_container{
  display: flex;
  gap: 10px;
}
.contact_item{
  display: flex !important;
  gap: 5px;
}
.contact_item p{
  align-self: center;
}

.contact_item:hover svg{
  color: white;
  background-color: transparent;
}
.contact_item:hover p{
  color: white;
  background-color: transparent;
}